$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-secundario: #8841DA;
$color-claro: #FFFFFF;
$color-variacion: #3f579a;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}