-var enlacesHeader=['Inicio', 'Destinos', 'Contacto']
-var destinos=['España','India', 'Thailandia', 'Malasia']
-var mapa= ['Mapa del Recorrido']
-var enlacesFooter=['GitHub', 'Linkedin', 'Instagram']

mixin intro(imagen, titulo, contenido)
	.introMapa  
		.intro__imagen: img(src="images/thailandia/"+imagen)
		.intro__contenido 
			h3=titulo 
			p=contenido 

mixin caja(titulo, contenido, imagen)
	.caja 
		.caja__contenido 
			h3=titulo 
			p=contenido 
		.caja__imagen: img(src="images/thailandia/"+imagen)
			