extend componentes-pug/plantillas.pug
block contenidos
	main.contenido
		section.tittlePrincipal 
			.tittlePrincipal__contentWrap 
				h2  Thailandia 
		section.intro 
			+intro('mapa.jpeg', mapa, 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.')
		section.lugaresVisitados 
			+caja('Bangkok', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.', 'bangkok.jpeg')
			+caja('Phuket', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.', 'bangkok.jpeg')